  
  <h3>A little about me.</h3>
    <p>So I'm Mick Byrne, I'm a Sydney based web type person. I run <%= link_to "BlueVPN", "https://bluevpn.co" %>, a secure, virtual private network designed to protect web surfers and to unblock international sites like Netflix and Hulu. I also help small businesses achieve more reviews and better search engine rankings for <%= link_to "Marketing AroundYou", "http://marketingaroundyou.com.au/" %>. If you have found this page randomly, this site was a personal project taught by <%= link_to "One Month Rails", "http://mbsy.co/7Gthh" %> to build a Pinterest Clone. There is nothing commercial about this site, it is merely something to test out some new skills. Feel free to connect below if you have any questions.</p>
  </div>
<div class="jumbotron center">
  <p><%= link_to "Google+", "https://plus.google.com/u/0/+MichaelByrneWeb/about", class: "btn btn-danger" %> Connect on Google+</p>
  <p><%= link_to "Twitter", "https://twitter.com/GoBlueVPN", class: "btn btn-info" %> Connect on Twitter</p>
</div>  